@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html.is-spatial {
  background: transparent;
  --xr-background-material: translucent;
  border-radius: 20px;

  body {
    background: transparent;
  }

  .xr-buttons {
    --xr-background-material: thick;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    --xr-back: 100;
    transform: translateZ(0) rotateX(30deg);
  }
}
